# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
client/node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Environment Variables
.env
.env.local
./server/.env
# Build Output
dist/
build/

# nkxD5E7p10z89bRf mongodb password rahulkr705018_db_user
# mongodb+srv://rahulkr705018_db_user:nkxD5E7p10z89bRf@cluster0.wenbjxn.mongodb.net/?appName=Cluster0